@{
    ViewData["Title"] = "Information Page";
}

<div class="text-center">
    <h1 class="display-4">Information Page</h1>
    <p>Реализованно CRUD-приложение на ASP.NET Core MVC с учетомследующих требований:Логирование;
        CRUD-операции;Комментарии в коде.</a>.</p>
</div>
