@model AspNetCoreCRUD.Models.StudentViewModel
@{
    var errorMessege = TempData["errorMessage"]?.ToString();
}

<h2>Delete Student</h2>
<h3>Are you sure you want to delete this?</h3>
<hr />

<form action="Delete" method="post">
     <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id"  readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" readonly/>
    </div>
     <div class="mb-3">
        <label class="form-label">Age</label>
        <input type="number" class="form-control" asp-for="Age" readonly/>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" readonly/>
    </div>
    <div class="d-grid">
        <button type ="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
